# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/tfplan
*.zip

# IDE
*~
.DS_Store

# Logs
*.log
logs/

# Outputs
outputs.json

# Environment variables
.env
.env.local
.envrc

# Temporary files
tmp/
temp/
*.tmp

# OS files
.DS_Store
Thumbs.db

# rclone
.pkm-sync.log
.pkm-sync-error.log

#clj/bb cacche
.cpcache
terraform/*.plan
