{:paths ["shared" "tests"]
 :deps {clj-commons/clj-yaml {:mvn/version "1.0.27"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.babashka/http-client {:mvn/version "0.4.19"}}

 :tasks
 {clean {:doc "Clean build artifacts"
         :task (shell "rm -rf functions/*/bootstrap functions/*/*.zip")}

  test {:doc "Run tests"
        :task (shell "bb -cp shared:tests -m test-runner")}

  repl {:doc "Start REPL"
        :task (shell "bb -cp shared:tests --nrepl-server")}}}
