# Xcode
*.xcodeproj/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcindexdb*

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Ruby / Bundler
vendor/bundle/
.bundle/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md

# Test results
TestResults/
coverage/
coverage.json

# Build artifacts
build/

# Snapshot recording marker (created by `mise run snapshot:record`)
.snapshot-record

# macOS
.DS_Store
